/* Size and alignment for the wrapper div */
.add-medic-form-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ==== RESIZABLE ==== */
/* skinny screen */
@media (max-width: 805px) {
    .add-medic-component-resize-width {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* big height => elements stick in middle */
    @media (min-height: 1395px) {
        .add-medic-component-resize-height {
            height: calc(100vh - 80px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    /* small height => elements get scroll bar */
    @media (max-height: 1395px) {
        .add-medic-component-resize-height {
            min-height: 100vh;
        }
    }
}
/* wide screen */
@media (min-width: 805px) {
    .add-medic-component-resize-width {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* big height => elements stick in middle */
    @media (min-height: 815px) {
        .add-medic-component-resize-height {
            height: calc(100vh - 80px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    /* small height => elements get scroll bar */
    @media (max-height: 815px) {
        .add-medic-component-resize-height {
            min-height: 100vh;
            /*justify-content: center;*/
            /*align-items: center;*/
            /*display: flex;*/
        }
    }
}

.add-medic-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
}


/* ==== FORM TITLE ==== */
.add-medic-form-title h1 {
    position: relative;
    padding: 0;
    margin-top: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: center;
}
.add-medic-form-title h1 span {
    display: block;
    font-size: 0.5em;
    font-weight: 300;
    word-spacing: 3px;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.5);
}
.add-medic-form-title h1 em {
    font-style: normal;
    font-weight: 600;
}
.add-medic-form-title h1:before {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #777;
}
.add-medic-form-title {
    margin-bottom: 20px;
}


/* ==== FORM ==== */
/* Form card style */
.add-medic-form-card {
    opacity: 0.85;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
/* Background style */
.add-medic-form-card-background {
    background-image: linear-gradient(#FAF0E1, #D9FBF9);
    opacity: 0.85;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
/* Form inputs */
.add-medic-form-card input[type="text"],
.add-medic-form-card input[type="email"],
.add-medic-form-card input[type="password"],
.add-medic-form-card select,
.add-medic-form-card input[type="date"],
.add-medic-form-card textarea,
.add-medic-form-card .add-medic-form-element{
    color: #535752;
    border: none;
    border-bottom: 2px solid #368F8B;
    background-color: #faf9f0;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Submit button */
.add-medic-form-submit-button {
    background: #549693;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}
.add-medic-form-submit-button:hover {
    background: #1E6A67;
}
/* Form groups */
/* A div with the label, input field and error */
.add-medic-form-card .add-medic-form-group {
    margin-top: 2px;
}
/* Form labels */
.add-medic-form-card .add-medic-form-group .add-medic-form-label {
    color: #136864;
    font-weight: bold;
}
/* Colour for the specializations */
.add-medic-form-card .add-medic-form-group .add-medic-form-specialization-label {
    color: #136864;
}
/* Error message design */
.add-medic-form-card .input-error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}
/* Error message takes space when is not shown */
.hidden-error-message {
    visibility: hidden;
}
/* Error input field design */
.add-medic-form-card .add-medic-form-group .red-error-message {
    border: none;
    border-bottom: 2px solid red;
}

/* Input placeholder */
.add-medic-form-card .add-medic-form-group input::placeholder {
    color: #d5dbe3;
}
/* Padding for in between the radio buttons */
.add-medic-form-card .add-medic-padding-item {
    padding: 5px;
}