.overlay-ForgorPassword {
    background-image: url('../../../public/forgotpassword.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: left;
    color: #FFFFFF;
    position: relative;
    left: -110%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container-login.right-panel-active .overlay-ForgorPassword {
    transform: translateX(50%);
}

.custom-button-forgor{
    border-radius: 20px;
    border: 3px solid #00bea4; 
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 20ms ease-in, background-color 200ms ease-in; 
    margin-top: 20px;
}


.form-control-forgor{
    margin-top: 25px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.background-wrapper-forgor{
    height: 89vh;
    background-image: url("./background-forgot-password.png");
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container-forgor {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
    margin:  auto;
}
.forgor-text-color{
    color: #00bea4;
}

/* Coponenta sa stea fixa pe mijloc
    daca intaltimea ecranului e mai mare ca ea */
@media (max-height: 620px) {
    .forgot-pass-form-resize {
        min-height: 100vh;
    }
}
@media (min-height: 620px) {
    .forgot-pass-form-resize {
        height: calc(100vh - 80px);
    }
}